*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    background-image: url(9043a730ef9d90e2b2e6c92265939457.png);
    background-size: cover;
    margin: 0;
    position: relative;
}


input{
    border-radius: 5px;
    font-size: 25px;
    font-weight: 700;
}

.container{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.topo {
    display: flex;
    align-items: center;
}

.imgBovinus {
    width: 180px;
    margin-right: 20px;
}

.jogo{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.cruzadinha{
    /* width: 50%; */
    /* margin-left: 10rem; */
    text-align: center;
    color: antiquewhite;
    font-size: 1.2rem;
}

.numero{
    background-color: rgb(222, 184, 135, 0.6); 
    border-radius: 150px;
    width:1.5rem;
    height: 1.5rem;
}

.cruzadinha input{
    width: 1.5rem;
    height: 1.5rem;
    text-align: center;
}

.espaco{
    width: 1.5rem;
    height: 2rem;
    padding: 0.18rem;
    color: black;
    background-color: black;
}

.perguntas{
    width: 50%;
    padding: 1rem;
    background-color: rgb(222, 184, 135, 0.6);
    border-radius: 8px;
    color:  rgb(66, 40, 7);
    overflow-y: scroll;
    height: 900px;
}

.perguntas li{
    font-size: 1.1rem;
    list-style:decimal;
    margin-bottom: 1.5rem;
}

#ganhou{
    width: 600px;
    height: 350px;
    background-color: rgb(64, 216, 30);
    display: none;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-radius: 5%;
    z-index: 1;
    position: absolute;
    top: 300px;
    text-align: center;
    gap: 40px;
}

#ganhou span{
    font-size: 24px;
    font-family: 'IBM Plex Sans', sans-serif;
    
}

#ganhou img{
    height: 200px;
}